/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font), sans-serif;
  font-variation-settings: "wght" var(--card-text-weight, 410);
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: var(--bg-color, #fff);
  margin-inline: auto;
  inline-size: 100%;
  max-inline-size: 700px;
  border-block: 2px solid #000;
}

.header {
  margin-block-start: 100px;
  margin-block-end: 98px;
  padding-inline: clamp(1rem, -6.6803rem + 32.7692vw, 7.65625rem);
  padding-block: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem);
  gap: 20px;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}

.header__logo {
  font-family: var(--accent-font, "PressStart2P");
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-transform: uppercase;
  white-space: nowrap;
}

.title {
  font-family: var(--accent-font, "PressStart2P");
  font-weight: 400;
  font-style: normal;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.content {
  margin-block-end: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__title {
  padding-inline: 10px;
  padding-block: 4px;
  font-family: var(--font, "Inter-Variable");
  font-variation-settings: "wght" var(--card-title-weight, 715);
  font-style: var(--text-color);
  font-size: 18px;
  border-inline: 2px solid var(--text-color, #000);
}

.card__image-section {
  position: relative;
  aspect-ratio: 1;
  border: 2px solid var(--text-color, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.image__grayscale {
  filter: grayscale(0.7);
}

.image__saturate {
  filter: saturate(300%);
}

.image__hue-rotate {
  filter: hue-rotate(-90deg);
}

.image__invert {
  filter: invert(0.8);
}

.image__blur {
  filter: blur(5px);
}

.image__sepia {
  filter: sepia(80%);
}

.image__multiple-filter {
  filter: invert(0.8) sepia(70%) blur(2px) hue-rotate(10deg);
}

.card__watermark {
  display: block;
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  z-index: 1;
  font-family: var(--accent-font, "PressStart2P");
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-color, #000);
  text-shadow: var(--bg-color, #fff);
  mix-blend-mode: hard-light;
}

.sparks {
  opacity: 0;
}

@supports (
  (text-stroke: 1px var(--bg-color, #fff)) or
    (-webkit-text-stroke: 1px var(--bg-color, #fff))
) {
  .card__watermark {
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-stroke: 1px var(--bg-color, #fff);
    text-shadow: none;
  }
}

.card__content {
  padding: 25px;
  border-inline: 2px solid var(--text-color, #000);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__text-paragraph {
  font-family: var(--font, "Inter-Variable");
  font-weight: var(--card-text-weight, 410);
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  margin-block-start: 25px;
  inline-size: fit-content;
  margin-inline: auto 0;
  /* justify-self: flex-end; */
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 0;
  color: var(--text-color, #000);
  background-color: var(--bg-color, #fff);
  border: none;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
}

.card__icon-button {
  inline-size: 38px;
  block-size: 38px;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--text-color, #000);
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button__text {
  position: relative;
  z-index: 1;
  padding: 0;
  font-family: var(--accent-font, "PressStart2P");
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 90%;
  color: var(--bg-color);
  mix-blend-mode: difference;
}

.content__button {
  margin-block-start: 50px;
  padding-inline: 20px;
  padding-block: 17px;
}

.content__button svg {
  inline-size: 21px;
  block-size: 21px;
}

.content__button .button__text {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.dialog {
  position: fixed;
  inset: 0;
  padding-inline: 30px;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: opacity 0.3s ease-in-out;
}

.dialog .button,
.dialog .button .button__text {
  inline-size: 100%;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog::backdrop {
  background-color: var(--bg-dialog-color, rgb(0 0 0 / 0.7));
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
  color: var(--text-color, #000);
}

.dialog__content svg {
  inline-size: 39px;
  block-size: 39px;
  min-inline-size: 39px;
  min-block-size: 39px;
}

.dialog__content p {
  max-inline-size: 234px;
  font-family: var(--accent-font, PressStart2P);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: inherit;
}

.dialog__button {
  padding-block: 12.5px;
}

.card__like-button,
.content__button,
.dialog__button {
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--text-color, #000);
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus-visible,
.content__button:focus-visible,
.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color, #000);
}

.card__like-button::after,
.content__button::after,
.dialog__button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--text-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.card__like-button:hover::after,
.content__button:hover::after,
.dialog__button:hover::after {
  transform: translateX(0%);
}

@media (width <= 375px) {
  .content__button .button__text {
    flex-direction: column;
  }

  .content__button svg {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    padding-inline: 40px;
  }
}
