/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font), sans-serif;
  font-variation-settings: "wght" var(--card-text-weight);
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: var(--bg-color, #fff);
  margin-inline: auto;
  inline-size: 100%;
  max-inline-size: 700px;
  border: 2px solid #000;
}

.header {
  margin-block-start: 100px;
  margin-block-end: 98px;
  padding-inline: clamp(1rem, -6.6803rem + 32.7692vw, 7.65625rem);
  padding-block: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.header__logo {
  font-family: var(--accent-font, 'PressStart2P');
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-transform: uppercase;
}

.title {
  font-family: var(--accent-font, 'PressStart2P');
  font-weight: 400;
  font-style: normal;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.content {
  margin-block-end: 100px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cards-list__item {

}

.card__title {
  padding-inline: 10px;
  padding-block: 4px;
  font-family: var(--font, 'Inter-Variable');
  font-weight: var(--card-title-weight, 715);
  font-style: var(--text-color);
  font-size: 18px;
}

.card__image-section {
  position: relative;
  aspect-ratio: 1;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
  overflow: hidden;
}

.card__image {
  block-size: 100%;
  /* background-position: 0 100%; */
  background-size: cover; /* TODO: разобраться с размером изображения */
}

.image__grayscale {
  filter: grayscale(0.7);
}

.image__saturate {
  filter: saturate(300%);
}

.image__hue-rotate {
  filter: hue-rotate(-90deg);
}

.image__invert {
  filter: invert(0.8);
}

.image__blur {
  filter: blur(5px);
}

.image__sepia {
  filter: sepia(80%);
}

.image__multiple-filter {
  filter: invert(0.8) sepia(70%) blur(2px) hue-rotate(10deg);
}

.card__watermark {
  display: block;
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  z-index: 1;
  font-family: var(--accent-font, 'PressStart2P');
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-color, #000);
  text-shadow: var(--bg-color, #fff);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--bg-color, #fff)) or (-webkit-text-stroke: 1px var(--bg-color, #fff))) {
  .card__watermark {
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-stroke: 1px var(--bg-color, #fff);
    text-shadow: none;
  }
} 

.card__text {
  padding: 25px;
  font-family: var(--font, 'Inter-Variable');
  font-weight: 410;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__text-paragraph {
}

.button {
  position: relative;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color, #fff);
  border: none;
}

.button:hover {
  cursor: pointer;
}

.button:focus-visible {
  outline: none;
}

.card__button {
  gap: 12px;
  margin-inline-start: auto;
  margin-inline-end: 21px;
  margin-block-end: 25px;
}

.button__text {
  padding-inline: 35px;
  padding-block: 10.5px;
  border: 2px solid #000;
  font-family: var(--accent-font, 'PressStart2P');
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 90%;
}

.content__button {
  margin-inline: auto;
  margin-block-start: 50px;
  padding-inline: 20px;
  padding-block: 17px;

}

.content__button svg {
  inline-size: 21px;
  block-size: 21px;
}

/* .button::before {
  background-image: url(../svg/heart.svg);
  position: absolute;
  width: 27px;
  height: 24px;
  fill: #000;
  right: -12px;
} */

.dialog {
  position: fixed;
  inset: 0;
  padding-inline: 30px;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: opacity 0.3s ease-in-out;
}

.dialog .button,
.dialog .button .button__text {
  inline-size: 100%;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
  color: var(--text-color);
}

.dialog__content svg {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__content p {
  max-inline-size: 234px;
  font-family: var(--accent-font, PressStart2P);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: inherit;
}

@media (width <= 375px) {
  .content__button {
    flex-direction: column;
  }

  .content__button svg {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    padding-inline: 40px;
  }
}