/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --text-color: #000;

    --card-text-weight: ;
    --card-title-weight: 715;

    --bg-repeatind-gradient-color: #d3d3d3;
    --bg-repeatind-gradient-tranparent-color: #d3d3d300;
    
    --bg-linear-color-a: #e7e7e7;
    --bg-linear-color-b: #1a1a1a;

    --background:
        repeating-linear-gradient(
            90deg,
            var(--bg-repeatind-gradient-color) 0,
            var(--bg-repeatind-gradient-color) 2px,
            var(--bg-repeatind-gradient-tranparent-color) 2px,
            var(--bg-repeatind-gradient-tranparent-color) 4px
        ),
        repeating-linear-gradient(
            0deg,
            var(--bg-repeatind-gradient-color) 0,
            var(--bg-repeatind-gradient-color) 2px,
            var(--bg-repeatind-gradient-tranparent-color) 2px,
            var(--bg-repeatind-gradient-tranparent-color) 4px
        );
        linear-gradient(
            to bottom,
            var(--bg-linear-color-a) 0%,
            var(--bg-linear-color-a) 0.01%,
            var(--bg-linear-color-b) 100%
        );

    --block-width: ;
}